In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv")

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/28/2017,0:00,MANHATTAN,10029,40.797000,-73.937780,"(40.797, -73.93778)",EAST 116 STREET,2 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3778528,PASSENGER VEHICLE,TK,NaN,NaN,NaN
1,10/28/2017,0:00,MANHATTAN,10034,40.865047,-73.924200,"(40.865047, -73.9242)",NaN,NaN,618 ACADEMY STREET,...,Unspecified,NaN,NaN,NaN,3780062,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
2,10/28/2017,0:00,QUEENS,11369,40.764360,-73.880090,"(40.76436, -73.88009)",NaN,NaN,24-45 89 STREET,...,NaN,NaN,NaN,NaN,3779932,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,10/28/2017,0:00,NaN,NaN,40.755756,-73.964790,"(40.755756, -73.96479)",EAST 53 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3778063,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
4,10/28/2017,0:00,NaN,NaN,NaN,NaN,NaN,FEATHERBED LANE,MACOMBS ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3778469,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
5,10/28/2017,0:00,NaN,NaN,40.678160,-73.897484,"(40.67816, -73.897484)",PENNSYLVANIA AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,3779357,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
6,10/28/2017,0:00,NaN,NaN,40.836090,-73.870390,"(40.83609, -73.87039)",NaN,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3778292,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN
7,10/28/2017,0:00,BROOKLYN,11207,40.663220,-73.893654,"(40.66322, -73.893654)",PENNSYLVANIA AVENUE,RIVERDALE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3779339,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
8,10/28/2017,0:00,MANHATTAN,10033,40.851364,-73.941060,"(40.851364, -73.94106)",NaN,NaN,867 WEST 181 STREET,...,Unspecified,NaN,NaN,NaN,3780055,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
9,10/28/2017,0:00,NaN,NaN,40.764347,-73.825950,"(40.764347, -73.82595)",BOWNE STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,3778379,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
10,10/28/2017,0:00,NaN,NaN,40.691536,-73.999120,"(40.691536, -73.99912)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3778265,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
11,10/28/2017,0:00,NaN,NaN,40.817932,-73.892690,"(40.817932, -73.89269)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3778309,MOTORCYCLE,NaN,NaN,NaN,NaN
12,10/28/2017,0:00,NaN,NaN,40.835873,-73.869900,"(40.835873, -73.8699)",NaN,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3778334,TAXI,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN
13,10/28/2017,0:01,MANHATTAN,10032,40.840847,-73.937386,"(40.840847, -73.937386)",NaN,NaN,524 WEST 169 STREET,...,Unspecified,NaN,NaN,NaN,3779029,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
14,10/28/2017,0:05,BROOKLYN,11236,40.649190,-73.892220,"(40.64919, -73.89222)",NaN,NaN,10830 FLATLANDS AVENUE,...,Unspecified,NaN,NaN,NaN,3779095,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
15,10/28/2017,0:10,QUEENS,11356,40.781425,-73.843220,"(40.781425, -73.84322)",NaN,NaN,20-33 125 STREET,...,Unspecified,Unspecified,NaN,NaN,3778099,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
16,10/28/2017,0:12,NaN,NaN,NaN,NaN,NaN,KEW GARDEN ROAD,VAN WYCK SERVICE ROAD,NaN,...,Following Too Closely,NaN,NaN,NaN,3779658,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
17,10/28/2017,0:21,NaN,NaN,40.604153,-74.051980,"(40.604153, -74.05198)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3778800,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
18,10/28/2017,0:25,QUEENS,11416,40.685474,-73.847480,"(40.685474, -73.84748)",NaN,NaN,97-05 94 STREET,...,Unspecified,NaN,NaN,NaN,3779657,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
19,10/28/2017,0:30,BRONX,10469,40.876663,-73.845116,"(40.876663, -73.845116)",MICKLE AVENUE,TILLOTSON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3778743,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
20,10/28/2017,0:30,BROOKLYN,11233,40.682030,-73.931870,"(40.68203, -73.93187)",NaN,NaN,357 STUYVESANT AVENUE,...,Unspecified,Unspecified,Unspecified,NaN,3779071,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN
21,10/28/2017,0:33,QUEENS,11375,40.721676,-73.835976,"(40.721676, -73.835976)",72 ROAD,GRAND CENTRAL PARKWAY,NaN,...,NaN,NaN,NaN,NaN,3778094,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
22,10/28/2017,0:45,QUEENS,11420,40.674595,-73.804184,"(40.674595, -73.804184)",NaN,NaN,134-14 ROCKAWAY BOULEVARD,...,Unspecified,NaN,NaN,NaN,3778235,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
23,10/28/2017,0:45,NaN,NaN,40.749825,-73.972206,"(40.749825, -73.972206)",EAST 42 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3778064,TAXI,LL,NaN,NaN,NaN
24,10/28/2017,0:49,MANHATTAN,10010,40.742900,-73.992810,"(40.7429, -73.99281)",AVENUE OF THE AMERICAS,WEST 23 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3779844,TAXI,TAXI,NaN,NaN,NaN
25,10/28/2017,0:50,BRONX,10456,40.837510,-73.906590,"(40.83751, -73.90659)",NaN,NaN,1458 WEBSTER AVENUE,...,Unspecified,NaN,NaN,NaN,3778566,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
26,10/28/2017,0:52,BRONX,10451,40.815563,-73.924740,"(40.815563, -73.92474)",NaN,NaN,250 EAST 143 STREET,...,Unspecified,NaN,NaN,NaN,3778378,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
27,10/28/2017,10:00,STATEN ISLAND,10301,40.613987,-74.112160,"(40.613987, -74.11216)",NaN,NaN,1460 VICTORY BOULEVARD,...,Unspecified,NaN,NaN,NaN,3779291,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
28,10/28/2017,10:00,STATEN ISLAND,10301,40.634983,-74.088650,"(40.634983, -74.08865)",NaN,NaN,91 STANLEY AVENUE,...,Unspecified,NaN,NaN,NaN,3779372,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
29,10/28/2017,10:00,NaN,NaN,40.747660,-73.866370,"(40.74766, -73.86637)",41 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3779144,SPORT UTILITY / STATION WAGON,TT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1143021,07/01/2012,8:15,QUEENS,11373,40.739979,-73.877108,"(40.7399795, -73.8771085)",87 STREET,CORONA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,254993,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1143022,07/01/2012,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,179414,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1143023,07/01/2012,8:27,NaN,NaN,40.708797,-73.727620,"(40.7087971, -73.72762)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3016724,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1143024,07/01/2012,8:30,NaN,NaN,NaN,NaN,NaN,WEST 181 STREET,RIVERSIDE DRIVE,NaN,...,NaN,NaN,NaN,NaN,70031,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1143025,07/01/2012,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,172551,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1143026,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,208724,UNKNOWN,NaN,NaN,NaN,NaN
1143027,07/01/2012,8:43,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,233142,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1143028,07/01/2012,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,Unspecified,NaN,NaN,NaN,94868,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1143029,07/01/2012,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,238643,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1143030,07/01/2012,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,NaN,NaN,NaN,NaN,37634,TAXI,NaN,NaN,NaN,NaN
1143031,07/01/2012,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,160103,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1143032,07/01/2012,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,203690,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1143033,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219394,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1143034,07/01/2012,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,284646,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1143035,07/01/2012,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,Unspecified,NaN,NaN,NaN,219398,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1143036,07/01/2012,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,Unspecified,NaN,NaN,NaN,88535,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1143037,07/01/2012,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,129899,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1143038,07/01/2012,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,254997,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1143039,07/01/2012,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,163374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1143040,07/01/2012,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147454,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1143041,07/01/2012,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,80827,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1143042,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,Driver Inexperience,NaN,NaN,NaN,5294,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1143043,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,245559,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1143044,07/01/2012,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279641,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1143045,07/01/2012,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279639,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1143046,07/01/2012,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2896726,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1143047,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,Unspecified,NaN,NaN,NaN,37635,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1143048,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1143049,07/01/2012,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,44907,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1143050,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [24]:
df.columns

Index([u'DATE', u'TIME', u'BOROUGH', u'ZIP CODE', u'LATITUDE', u'LONGITUDE',
       u'LOCATION', u'ON STREET NAME', u'CROSS STREET NAME',
       u'OFF STREET NAME', u'NUMBER OF PERSONS INJURED',
       u'NUMBER OF PERSONS KILLED', u'NUMBER OF PEDESTRIANS INJURED',
       u'NUMBER OF PEDESTRIANS KILLED', u'NUMBER OF CYCLIST INJURED',
       u'NUMBER OF CYCLIST KILLED', u'NUMBER OF MOTORIST INJURED',
       u'NUMBER OF MOTORIST KILLED', u'CONTRIBUTING FACTOR VEHICLE 1',
       u'CONTRIBUTING FACTOR VEHICLE 2', u'CONTRIBUTING FACTOR VEHICLE 3',
       u'CONTRIBUTING FACTOR VEHICLE 4', u'CONTRIBUTING FACTOR VEHICLE 5',
       u'UNIQUE KEY', u'VEHICLE TYPE CODE 1', u'VEHICLE TYPE CODE 2',
       u'VEHICLE TYPE CODE 3', u'VEHICLE TYPE CODE 4', u'VEHICLE TYPE CODE 5'],
      dtype='object')

In [26]:
processedDf = pd.DataFrame()
processedDf['Borough'] = df['BOROUGH']
processedDf['Zip'] = df['ZIP CODE']
processedDf['latitude'] = df['LATITUDE']
processedDf['longitude'] = df['LONGITUDE']
processedDf['on street name'] = df['ON STREET NAME']
processedDf['cross street name'] = df['CROSS STREET NAME']
processedDf['off street name'] = df['OFF STREET NAME']

In [30]:
processedDf
trainset = processedDf.dropna()
testset = processedDf[processedDf['Borough'].isnull()]
#testset = testset[testset['latitude'].isnull()]
testset.columns

def predictBorough(x):
    if(x['latitude'] != None && x['longitude'] != None):
        #predict based on latitude and longitude
    elif(x['Zip'] != None):
        #predict borough based on zip
    elif(x['off street name']):

Index([u'Borough', u'Zip', u'latitude', u'longitude', u'on street name',
       u'cross street name', u'off street name'],
      dtype='object')